---
const { href } = Astro.props;
---
<section id="contact" class="section">
  <div class="inner">
    <div class="banner">Start a Quest Together</div>
    <div class="panel" style="margin-top:12px">
      <div class="row" style="align-items:center; justify-content:space-between">
        <p class="subtitle" style="margin:0">
          “So, traveler… do you seek a builder of systems or a teller of stories? In me, you will find both.”
        </p>
        <a class="btn primary" href={href}>Hire Me</a>
      </div>
    </div>
  </div>
</section>